.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .links {
        display: flex;
        gap: 10px;
        margin-left: auto;
    }
}
